i3/.config/i3/config
i3status/.config/i3status/config

kitty/.config/kitty/theme.conf

X/.Xresources

qutebrowser/.config/qutebrowser/bookmarks/urls
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/__pycache__/
qutebrowser/.config/qutebrowser/qsettings/

mpd/.config/mpd/cache
mpd/.config/mpd/db
mpd/.config/mpd/playlists
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql

newsboat/.newsboat/urls

calcurse/.config/calcurse/caldav/config

dunst/.config/dunst/dunstrc

polybar/.config/polybar/config.ini

.dotbuild_cache
