<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <item label="termite"> <action name="Execute">
                <execute>termite</execute>
        </action> </item>
        <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
        <item label="ranger"> <action name="Execute">
                <execute>termite -e ranger</execute>
            </action> </item>
        <item label="Neovim"> <action name="Execute">
                <execute>termite -e nvim</execute>
            </action> </item>
        <item label="Code"> <action name="Execute">
                <execute>code</execute>
            </action> </item>
        <item label="Discord"> <action name="Execute">
                <execute>discord</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
        </action> </item>
        <menu id="6" label="Graphics">
            <item label="Flameshot"> <action name="Execute">
                <execute>flameshot</execute>
            </action> </item>
            <item label="GNU Image Manipulation Program"> <action name="Execute">
                <execute>gimp-2.10</execute>
            </action> </item>
            <item label="The GIMP"> <action name="Execute">
                <execute>gimp</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ncmpcpp"> <action name="Execute">
                <execute>termite -e ncmpcpp</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Evince"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
            <item label="Zathura"> <action name="Execute">
                <execute>zathura</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="termite"> <action name="Execute">
                <execute>termite</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>termite -e git</execute>
            </action> </item>
            <item label="Termite"> <action name="Execute">
                <execute>termite</execute>
            </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="urxvt (client)"> <action name="Execute">
                <execute>urxvtc</execute>
            </action> </item>
            <item label="urxvt (tabbed)"> <action name="Execute">
                <execute>urxvt-tabbed</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                </menu>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Default Sound Card"> <action name="Execute">
                    <execute>asoundconf-gtk</execute>
                </action> </item>
                <item label="File Manager Settings"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="Grub Customizer"> <action name="Execute">
                    <execute>grub-customizer</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>termite -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Console Matrix (Text)"> <action name="Execute">
                <execute>termite -e cmatrix</execute>
            </action> </item>
            <item label="Console Matrix (X11)"> <action name="Execute">
                <execute>cmatrix -x</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>termite -e info</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
